In [41]:
from collections.abc import Callable

import numpy as np
import pandas as pd
import sqlite3
import os

from numpy import NaN

import csv
import sqlite3

In [42]:
def create_development_db():
    ## Open a connection to the database (development data)
    con = sqlite3.connect("dados/dev.db")

    # Create cursor
    cursor = con.cursor()

    # ---- ACCOUNT ---- ##
    cursor.execute("DROP TABLE IF EXISTS account")
    cursor.execute('''CREATE TABLE account
                    (
                      account_id INTEGER PRIMARY KEY,
                      district_id INTEGER,
                      frequency VARCHAR(255),
                      date INTEGER
                    );'''
                  )

    accounts = csv.reader(open('dados/raw/account.csv'), delimiter=';')

    insert_account_command = "INSERT INTO account(account_id, district_id, frequency, date) VALUES(?, ?, ?, ?)"
    rows = []

    for i, account in enumerate(accounts):
        if i != 0:
          rows.append([int(account[0]), int(account[1]), account[2], int(account[3])])
    cursor.executemany(insert_account_command, rows)

    # ---- CARD ---- ##
    cursor.execute("DROP TABLE IF EXISTS card")
    cursor.execute('''CREATE TABLE card
                    (
                      card_id INTEGER PRIMARY KEY,
                      disp_id INTEGER,
                      type VARCHAR(255),
                      issued INTEGER
                    );'''
                  )

    cards = csv.reader(open('dados/raw/card_dev.csv'), delimiter=';')

    insert_card_command = "INSERT INTO card(card_id, disp_id, type, issued) VALUES(?, ?, ?, ?)"
    rows = []

    for i, card in enumerate(cards):
        if i != 0:
            rows.append([int(card[0]), int(card[1]), card[2], int(card[3])])
    cursor.executemany(insert_card_command, rows)

    # ---- Client ---- ##
    cursor.execute("DROP TABLE IF EXISTS client")
    cursor.execute('''CREATE TABLE client (
                    client_id INTEGER PRIMARY KEY,
                    district_id VARCHAR(255),
                    birthnumber INTEGER
                    );'''
                  )

    clients = csv.reader(open('dados/raw/client.csv'), delimiter=';')
    insert_client_command = "INSERT INTO client(client_id, birthnumber, district_id) VALUES(?, ?, ?)"

    rows = []
    for i, client in enumerate(clients):
      if i != 0: 
        rows.append([int(client[0]), client[1], int(client[2])])
    cursor.executemany(insert_client_command, rows)

    # ---- DISPOSITION ---- ##
    cursor.execute("DROP TABLE IF EXISTS disp")
    cursor.execute  ('''CREATE TABLE disp
                        (
                         disp_id INTEGER PRIMARY KEY,
                         client_id INTEGER,
                         account_id INTEGER,
                         type VARCHAR(255)
                         );'''
                    )

    dispositions = csv.reader(open('dados/raw/disp.csv'), delimiter=';')
    insert_disp_command = "INSERT INTO disp(disp_id, client_id, account_id, type) VALUES(?, ?, ?, ?)"

    rows = []
    for i, disposition in enumerate(dispositions):
        if i != 0: rows.append([int(disposition[0]), int(disposition[1]), int(disposition[2]), disposition[3]])
    cursor.executemany(insert_disp_command, rows)

    # ---- DISTRICT ---- ##
    cursor.execute("DROP TABLE IF EXISTS district")
    cursor.execute('''CREATE TABLE district
                    (
                      id INTEGER PRIMARY KEY,
                      city VARCHAR(255),
                      region  VARCHAR(255),
                      num_inhab INTEGER,
                      num_municip_inhab_0_499 INTEGER,
                      num_municip_inhab_500_1999 INTEGER,
                      num_municip_inhab_2000_9999 INTEGER,
                      num_municip_inhab_10000_ INTEGER,
                      num_cities INTEGER,
                      perc_urban_inhab REAL,
                      avg_salary REAL,
                      perc_unemploy_95 REAL,
                      perc_unemploy_96 REAL,
                      enterp_per_1000 INTEGER,
                      num_crimes_95 INTEGER,
                      num_crimes_96 INTEGER
                    );'''
                  )

    discticts = csv.reader(open('dados/raw/district.csv'), delimiter=';', )
    insert_disctrict_command = "INSERT INTO district(id, city, region, num_inhab, num_municip_inhab_0_499, num_municip_inhab_500_1999, \
        num_municip_inhab_2000_9999, num_municip_inhab_10000_, num_cities, perc_urban_inhab, avg_salary, perc_unemploy_95, \
        perc_unemploy_96, enterp_per_1000, num_crimes_95, num_crimes_96) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

    rows = []
    for i, district in enumerate(discticts):
        if i != 0:
            try:
                rows.append([int(district[0]), district[1], district[2], int(district[3]), int(district[4]), int(district[5]), int(district[6]), int(district[7]), \
                    int(district[8]), float(district[9]), float(district[10]), float(district[11]), float(district[12]), int(district[13]), int(district[14]), int(district[15])])
            except Exception as e:
                rows.append([int(district[0]), district[1], district[2], int(district[3]), int(district[4]), int(district[5]), int(district[6]), int(district[7]), \
                    int(district[8]), float(district[9]), float(district[10]), None, float(district[12]), int(district[13]), None, int(district[15])])
    cursor.executemany(insert_disctrict_command, rows)

    # ---- LOAN ---- ##
    cursor.execute("DROP TABLE IF EXISTS loan")
    cursor.execute('''CREATE TABLE loan
                    (
                      loan_id INTEGER PRIMARY KEY,
                      account_id INTEGER,
                      date INTEGER,
                      amount INTEGER,
                      duration INTEGER,
                      payments INTEGER,
                      status INTEGER
                    );'''
                  )

    loans = csv.reader(open('dados/raw/loan_dev.csv'), delimiter=';')

    insert_loan_command = "INSERT INTO loan(loan_id, account_id, date, amount, duration, payments, status) VALUES (?, ?, ?, ?, ?, ?, ?)"
    rows = []

    for i, loan in enumerate(loans):
        if i != 0:
          rows.append([int(loan[0]), int(loan[1]), int(loan[2]), int(loan[3]), int(loan[4]), int(loan[5]), int(loan[6])])
    cursor.executemany(insert_loan_command, rows)

    # ---- TRANSACTIONS ---- ##
    cursor.execute("DROP TABLE IF EXISTS trans")
    cursor.execute('''CREATE TABLE trans
                    (
                     trans_id INTEGER PRIMARY KEY,
                     account_id INTEGER,
                     date VARCHAR(255),
                     type VARCHAR(255),
                     operation REAL,
                     amount REAL,
                     balance REAL,
                     k_symbol VARCHAR(255),
                     bank VARCHAR(255),
                     account INTEGER
                    );'''
                  )

    transactions = csv.reader(open('dados/raw/trans_dev.csv'), delimiter=';')
    insert_transaction_command = "INSERT INTO trans(trans_id, account_id, date, type, operation, amount, balance, k_symbol, bank, account) \
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

    rows = []
    for i, transaction in enumerate(transactions):
        if i != 0:
            transaction[7] = None if transaction[7] == '' else transaction[7]
            transaction[8] = None if transaction[8] == '' else transaction[8]
            transaction[9] = None if transaction[9] == '' else int(transaction[9])
            rows.append([int(transaction[0]), int(transaction[1]), int(transaction[2]), transaction[3], transaction[4],   
              float(transaction[5]), float(transaction[6]), transaction[7], transaction[8], transaction[9]])

    cursor.executemany(insert_transaction_command, rows)

    ## Commit to the db and close it
    con.commit()
    con.close()

In [43]:
def create_competition_db():
## Open a connection to the database (competition data)
    con = sqlite3.connect("dados/comp.db")

    # Create cursor
    cursor = con.cursor()

    # ---- ACCOUNT ---- ##
    cursor.execute("DROP TABLE IF EXISTS account")
    cursor.execute('''CREATE TABLE account
                    (
                      account_id INTEGER PRIMARY KEY,
                      district_id INTEGER,
                      frequency VARCHAR(255),
                      date INTEGER
                    );'''
                  )

    accounts = csv.reader(open('dados/raw/account.csv'), delimiter=';')

    insert_account_command = "INSERT INTO account(account_id, district_id, frequency, date) VALUES(?, ?, ?, ?)"
    rows = []

    for i, account in enumerate(accounts):
        if i != 0:
          rows.append([int(account[0]), int(account[1]), account[2], int(account[3])])
    cursor.executemany(insert_account_command, rows)

    # ---- CARD ---- ##
    cursor.execute("DROP TABLE IF EXISTS card")
    cursor.execute('''CREATE TABLE card
                    (
                      card_id INTEGER PRIMARY KEY,
                      disp_id INTEGER,
                      type VARCHAR(255),
                      issued INTEGER
                    );'''
                  )

    # Use competition data
    cards = csv.reader(open('dados/raw/card_comp.csv'), delimiter=';')

    insert_card_command = "INSERT INTO card(card_id, disp_id, type, issued) VALUES(?, ?, ?, ?)"
    rows = []

    for i, card in enumerate(cards):
        if i != 0:
            rows.append([int(card[0]), int(card[1]), card[2], int(card[3])])
    cursor.executemany(insert_card_command, rows)

    # ---- Client ---- ##
    cursor.execute("DROP TABLE IF EXISTS client")
    cursor.execute('''CREATE TABLE client (
                    client_id INTEGER PRIMARY KEY,
                    district_id VARCHAR(255),
                    birthnumber INTEGER
                    );'''
                  )

    clients = csv.reader(open('dados/raw/client.csv'), delimiter=';')
    insert_client_command = "INSERT INTO client(client_id, birthnumber, district_id) VALUES(?, ?, ?)"

    rows = []
    for i, client in enumerate(clients):
      if i != 0: 
        rows.append([int(client[0]), client[1], int(client[2])])
    cursor.executemany(insert_client_command, rows)

    # ---- DISPOSITION ---- ##
    cursor.execute("DROP TABLE IF EXISTS disp")
    cursor.execute  ('''CREATE TABLE disp
                        (
                         disp_id INTEGER PRIMARY KEY,
                         client_id INTEGER,
                         account_id INTEGER,
                         type VARCHAR(255)
                         );'''
                    )

    dispositions = csv.reader(open('dados/raw/disp.csv'), delimiter=';')
    insert_disp_command = "INSERT INTO disp(disp_id, client_id, account_id, type) VALUES(?, ?, ?, ?)"

    rows = []
    for i, disposition in enumerate(dispositions):
        if i != 0: rows.append([int(disposition[0]), int(disposition[1]), int(disposition[2]), disposition[3]])
    cursor.executemany(insert_disp_command, rows)

    # ---- DISTRICT ---- ##
    cursor.execute("DROP TABLE IF EXISTS district")
    cursor.execute('''CREATE TABLE district
                    (
                      id INTEGER PRIMARY KEY,
                      city VARCHAR(255),
                      region  VARCHAR(255),
                      num_inhab INTEGER,
                      num_municip_inhab_0_499 INTEGER,
                      num_municip_inhab_500_1999 INTEGER,
                      num_municip_inhab_2000_9999 INTEGER,
                      num_municip_inhab_10000_ INTEGER,
                      num_cities INTEGER,
                      perc_urban_inhab REAL,
                      avg_salary REAL,
                      perc_unemploy_95 REAL,
                      perc_unemploy_96 REAL,
                      enterp_per_1000 INTEGER,
                      num_crimes_95 INTEGER,
                      num_crimes_96 INTEGER
                    );'''
                  )

    discticts = csv.reader(open('dados/raw/district.csv'), delimiter=';')
    insert_disctrict_command = "INSERT INTO district(id, city, region, num_inhab, num_municip_inhab_0_499, num_municip_inhab_500_1999, \
        num_municip_inhab_2000_9999, num_municip_inhab_10000_, num_cities, perc_urban_inhab, avg_salary, perc_unemploy_95, \
        perc_unemploy_96, enterp_per_1000, num_crimes_95, num_crimes_96) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

    rows = []
    for i, district in enumerate(discticts):
        if i != 0:
            try:
                rows.append([int(district[0]), district[1], district[2], int(district[3]), int(district[4]), int(district[5]), int(district[6]), int(district[7]), \
                    int(district[8]), float(district[9]), float(district[10]), float(district[11]), float(district[12]), int(district[13]), int(district[14]), int(district[15])])
            except Exception as e: # Handle '?'
                rows.append([int(district[0]), district[1], district[2], int(district[3]), int(district[4]), int(district[5]), int(district[6]), int(district[7]), \
                    int(district[8]), float(district[9]), float(district[10]), None, float(district[12]), int(district[13]), None, int(district[15])])
    cursor.executemany(insert_disctrict_command, rows)

    # ---- LOAN ---- ##
    cursor.execute("DROP TABLE IF EXISTS loan")
    cursor.execute('''CREATE TABLE loan
                    (
                      loan_id INTEGER PRIMARY KEY,
                      account_id INTEGER,
                      date INTEGER,
                      amount INTEGER,
                      duration INTEGER,
                      payments INTEGER,
                      status INTEGER
                    );'''
                  )

    # Use competition data
    loans = csv.reader(open('dados/raw/loan_comp.csv'), delimiter=';')

    insert_loan_command = "INSERT INTO loan(loan_id, account_id, date, amount, duration, payments, status) VALUES (?, ?, ?, ?, ?, ?, ?)"
    rows = []

    # Don't insert last columns (status of loan)
    for i, loan in enumerate(loans):
        if i != 0:
          rows.append([int(loan[0]), int(loan[1]), int(loan[2]), int(loan[3]), int(loan[4]), int(loan[5]), ''])
    cursor.executemany(insert_loan_command, rows)

    # ---- TRANSACTIONS ---- ##
    cursor.execute("DROP TABLE IF EXISTS trans")
    cursor.execute('''CREATE TABLE trans
                    (
                     trans_id INTEGER PRIMARY KEY,
                     account_id INTEGER,
                     date VARCHAR(255),
                     type VARCHAR(255),
                     operation REAL,
                     amount REAL,
                     balance REAL,
                     k_symbol VARCHAR(255),
                     bank VARCHAR(255),
                     account INTEGER
                    );'''
                  )

    # Use competition data
    transactions = csv.reader(open('dados/raw/trans_comp.csv'), delimiter=';')
    insert_transaction_command = "INSERT INTO trans(trans_id, account_id, date, type, operation, amount, balance, k_symbol, bank, account) \
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

    rows = []
    for i, transaction in enumerate(transactions):
        if i != 0:
            transaction[7] = None if transaction[7] == '' else transaction[7]
            transaction[8] = None if transaction[8] == '' else transaction[8]
            transaction[9] = None if transaction[9] == '' else int(transaction[9])
            rows.append([int(transaction[0]), int(transaction[1]), int(transaction[2]), transaction[3], transaction[4],
                float(transaction[5]), float(transaction[6]), transaction[7], transaction[8], transaction[9]])

    cursor.executemany(insert_transaction_command, rows)

    ## Commit to the db and close it
    con.commit()
    con.close()

In [44]:
def process_date(date):
    # Given an integer date like 960101 transforms it into the standard format
    # returns 4 columns, year, month, day and full data

    year        = str(int(str(date)[:2]) + 1900)
    month       = str(date)[2:4]
    day         = str(date)[4:]

    full_date   = year + '-' + month + '-' + day

    return year, month, day, full_date

In [45]:
def process_account_table(db_connection):
    cursor = db_connection.cursor()

    cursor.execute("ALTER TABLE account ADD acc_creation_date VARCHAR(255)")
    cursor.execute("ALTER TABLE account ADD acc_creation_year INTEGER")
    cursor.execute("ALTER TABLE account ADD acc_creation_month INTEGER")
    cursor.execute("ALTER TABLE account ADD acc_creation_day INTEGER")
    db_connection.commit()

    cursor.execute("SELECT account_id, date FROM account")

    results = cursor.fetchall()
    for account in results:
        acc_id = account[0]
        year, month, day, date = process_date(account[1])
        cursor.execute(f"UPDATE account SET acc_creation_date = '{date}', acc_creation_year = {year}, acc_creation_month = {month}, acc_creation_day = {day} WHERE account_id = {acc_id}")

    db_connection.commit()

In [46]:
def process_card_table(db_connection):
    cursor = db_connection.cursor()

    cursor.execute("ALTER TABLE card ADD card_issued_date VARCHAR(255)")
    cursor.execute("ALTER TABLE card ADD card_issued_year INTEGER")
    cursor.execute("ALTER TABLE card ADD card_issued_month INTEGER")
    cursor.execute("ALTER TABLE card ADD card_issued_day INTEGER")
    db_connection.commit()

    cursor.execute("SELECT card_id, issued FROM card")
    
    results = cursor.fetchall()
    for card in results:
        card_id = card[0]
        year, month, day, date = process_date(card[1])
        cursor.execute(f"UPDATE card SET card_issued_date = '{date}', card_issued_year = {year}, card_issued_month = {month}, card_issued_day = {day} WHERE card_id = {card_id}")

    db_connection.commit()

In [47]:
def process_client_table(db_connection):
    cursor = db_connection.cursor()

    cursor.execute("ALTER TABLE client ADD birthdate VARCHAR(255)")
    cursor.execute("ALTER TABLE client ADD birthdate_year INTEGER")
    cursor.execute("ALTER TABLE client ADD birthdate_month INTEGER")
    cursor.execute("ALTER TABLE client ADD birthdate_day INTEGER")
    cursor.execute("ALTER TABLE client ADD sex VARCHAR(255)")
    db_connection.commit()

    cursor.execute("SELECT client_id, birthnumber FROM client")
    results = cursor.fetchall()

    for client in results:
        client_id = client[0]
        year, str_month, day, date = process_date(client[1])

        month = int(str_month)

        if month > 12:
            sex = 'f'
            month = month - 50
            date = year + '-' + str(month) + '-' + day
        else:
            sex = 'm'
        cursor.execute(f"UPDATE client SET birthdate = '{date}', birthdate_year = {year}, birthdate_month = {month}, birthdate_day = {day}, sex = '{sex}' WHERE client_id = {client_id}")

    db_connection.commit()

In [48]:
def process_disposition_table(db_connection):
    cursor = db_connection.cursor()
    cursor.execute("UPDATE disp SET type = LOWER(type)")
    db_connection.commit()

In [49]:
def process_district_table(db_connection):
    cursor = db_connection.cursor()

    ## Split region into region and zone
    ## EG: North Bohemia -> Region Bohemia - Zone North
    cursor.execute("ALTER TABLE district ADD region_zone VARCHAR(255)")
    db_connection.commit()

    cursor.execute("SELECT id, city, region FROM district")
    results = cursor.fetchall()
    for district in results:
        district_id = district[0]

        name = district[1].split(" - ")[0] if district[1].find(" - ") != -1 else district[1]

        zone = district[2].split(" ")[0] if district[2].find(" ") != -1 else "NULL"
        region = district[2].split(" ")[1] if district[2].find(" ") != -1 else district[2]

        cursor.execute(f"UPDATE district SET region_zone = '{zone}', region = '{region}', city = '{name}' WHERE id = {district_id}")

    db_connection.commit()

In [50]:
def process_loan_table(db_connection):
    cursor = db_connection.cursor()

    cursor.execute("ALTER TABLE loan ADD loan_date VARCHAR(255)")
    cursor.execute("ALTER TABLE loan ADD loan_year INTEGER")
    cursor.execute("ALTER TABLE loan ADD loan_month INTEGER")
    cursor.execute("ALTER TABLE loan ADD loan_day INTEGER")
    db_connection.commit()

    cursor.execute("SELECT loan_id, date FROM loan")
    results = cursor.fetchall()
    for loan in results:
        loan_id = loan[0]
        year, month, day, date = process_date(loan[1])
        cursor.execute(f"UPDATE loan SET loan_date = '{date}', loan_year = {year}, loan_month = {month}, loan_day = {day} WHERE loan_id = {loan_id}")

    db_connection.commit()

In [51]:
def process_trans_table(db_connection):
    cursor = db_connection.cursor()

    cursor.execute("ALTER TABLE trans ADD trans_date VARCHAR(255)")
    cursor.execute("ALTER TABLE trans ADD trans_year INTEGER")
    cursor.execute("ALTER TABLE trans ADD trans_month INTEGER")
    cursor.execute("ALTER TABLE trans ADD trans_day INTEGER")
    db_connection.commit()

    cursor.execute("SELECT trans_id, date, operation FROM trans")
    results = cursor.fetchall()

    dict_map = {
        'credit in cash':'cash',
        'withdrawal in cash':'cash',
        'collection from another bank':'another bank',
        'remittance to another bank':'another bank',
        'credit card withdrawal':'credit card',
    }

    for transaction in results:
        trans_id = transaction[0]
        year, month, day, date = process_date(transaction[1])
        operation = transaction[2]
        if operation == '':
            operation = 'NULL'
        else:
            operation = dict_map[operation]

        cursor.execute(f"UPDATE trans SET operation = '{operation}', trans_date = '{date}', trans_year = {year}, trans_month = \
        {month}, trans_day = {day} WHERE trans_id = {trans_id}")

    db_connection.commit()

In [52]:
def process_development_data():
    create_development_db()
    con = sqlite3.connect("dados/dev.db")

    ## Process its tables
    process_account_table(con)
    process_card_table(con)
    process_client_table(con)
    process_disposition_table(con)
    process_district_table(con)
    process_loan_table(con)
    process_trans_table(con)

    ## Close the connection
    con.close()

In [53]:
def process_competition_data():
    create_competition_db()
    con = sqlite3.connect("dados/comp.db")

    ## Process its tables
    process_account_table(con)
    process_card_table(con)
    process_client_table(con)
    process_disposition_table(con)
    process_district_table(con)
    process_loan_table(con)
    process_trans_table(con)

    ## Close the connection
    con.close()

In [54]:
process_development_data()

In [ ]:
process_competition_data()

In [ ]:
comp_con = sqlite3.connect("dados/comp.db")
dev_con = sqlite3.connect("dados/dev.db")

In [ ]:
loan_dev = pd.read_sql_query("SELECT * from loan", dev_con)
loan_dev.drop(["date"], axis=1, inplace=True)
loan_dev.to_csv("dados/pre-processed/loan_dev.csv", index=False)

In [ ]:
loan_comp = pd.read_sql_query("SELECT * from loan", comp_con)
loan_comp.drop(["date"], axis=1, inplace=True)
loan_comp.to_csv("dados/pre-processed/loan_comp.csv", index=False)

In [ ]:
account = pd.read_sql_query("SELECT * FROM account", dev_con)
account.drop(["date"], axis=1, inplace=True)
account.to_csv("dados/pre-processed/account.csv", index = False)

In [ ]:
card_dev = pd.read_sql_query("SELECT * FROM card", dev_con)
card_dev.drop(["issued"], axis=1, inplace=True)
card_dev.to_csv("dados/pre-processed/card_dev.csv", index=False)

In [ ]:
card_comp = pd.read_sql_query("SELECT * FROM card", comp_con)
card_comp.drop(["issued"], axis=1, inplace=True)
card_comp.to_csv("dados/pre-processed/card_comp.csv", index=False)

In [ ]:
client = pd.read_sql_query("SELECT * FROM client", dev_con)
client.drop(["birthnumber"], axis=1, inplace=True)
client.to_csv("dados/pre-processed/client.csv", index=False)

In [ ]:
disp = pd.read_sql_query("SELECT * FROM disp", dev_con)
disp.to_csv("dados/pre-processed/disp.csv", index=False)

In [ ]:
district = pd.read_sql_query("SELECT * FROM district", dev_con)
district.to_csv("dados/pre-processed/district.csv", index=False)

In [ ]:
trans_dev = pd.read_sql_query("SELECT * FROM trans", dev_con)
trans_dev.drop(["date"], axis=1, inplace=True)
trans_dev.to_csv("dados/pre-processed/trans_dev.csv", index=False)

In [ ]:
trans_comp = pd.read_sql_query("SELECT * FROM trans", comp_con)
trans_comp.drop(["date"], axis=1, inplace=True)
trans_comp.to_csv("dados/pre-processed/trans_comp.csv", index=False)