In [2]:
import pandas as pd

## Card

In [5]:
## Read competion and develop dataframes
card_comp = pd.read_csv("dados/pre-processed/card_comp.csv")
card_dev = pd.read_csv("dados/pre-processed//card_dev.csv")

## Concat them
card = pd.concat([card_comp, card_dev])

## Drop type column of disposition
disp_df = pd.read_csv("dados/pre-processed/disp.csv")
disp_df.drop("type", axis=1, inplace=True)

## Merge card with disposition (how=Left so we have all clients and not only those with cards)
card_disp = pd.merge(disp_df, card, on="disp_id", how="left")

## Readability
card_disp.rename(columns = {"type":"type_card"}, inplace=True)

## Replace NaN values with "Other"
card_disp["type_card"].fillna("other", inplace=True)

## Type of card from numerical to categorical
card_disp = pd.get_dummies(card_disp, columns = ['type_card'])

## Function to check whether a person has a card
def has_card(row):
    return 0 if pd.isna(row["card_id"]) else 1

## Apply function to new column
card_disp["has_card"] = card_disp.apply(lambda x: has_card(x), axis = 1)

## Drop columns
card_disp.drop(["card_issued_date", "card_id", "account_id", "client_id"], axis=1, inplace=True)

## Save
card_disp.to_csv("dados/cleaned/card.csv", index=False)

card_disp.head()

,disp_id,card_issued_year,card_issued_month,card_issued_day,type_card_classic,type_card_gold,type_card_junior,type_card_other,has_card
0,1,NaN,NaN,NaN,0,0,0,1,0
1,2,NaN,NaN,NaN,0,0,0,1,0
2,3,NaN,NaN,NaN,0,0,0,1,0
3,4,NaN,NaN,NaN,0,0,0,1,0
4,5,NaN,NaN,NaN,0,0,0,1,0

## Client

In [3]:
## Read useful dataframes
client = pd.read_csv("dados/pre-processed/client.csv")
loan   = pd.read_csv("dados/pre-processed/loan_dev.csv")
disp   = pd.read_csv("dados/pre-processed/disp.csv")

## Sex from categorical to numerical
client['sex'].replace(['m', 'f'], [0, 1], inplace=True)

## To csv
client.to_csv("dados/cleaned/client.csv")

client.head()

   client_id  district_id  birthdate_year  birthdate_month  birthdate_day  sex
0          1           18            1970               12             13    1
1          2            1            1945                2              4    0
2          3            1            1940               10              9    1
3          4            5            1956               12              1    0
4          5            5            1960                7              3    1

## Disposition

## District

## Transaction