In [41]:
import pandas as pd
import time
import datetime

In [42]:
dfAccount = pd.read_csv('ficheiros_competicao_dev/account.csv', na_values=['NaN'])
dfCard = pd.read_csv('ficheiros_competicao_dev/card_dev.csv', na_values=['NaN'])
dfClient = pd.read_csv('ficheiros_competicao_dev/client.csv', na_values=['NaN'])
dfDisp = pd.read_csv('ficheiros_competicao_dev/disp.csv', na_values=['NaN'])
dfDistrict = pd.read_csv('ficheiros_competicao_dev/district.csv', na_values=['NaN'])
dfLoan = pd.read_csv('ficheiros_competicao_dev/loan_dev.csv', na_values=['NaN'])
dfTrans = pd.read_csv('ficheiros_competicao_dev/trans_dev.csv', na_values=['NaN'])

In [43]:
dfTrans.tail()

     trans_id;"account_id";"date";"type";"operation";"amount";"balance";"k_symbol";"bank";"account"
9995  403791;1375;940807;"credit";"credit in cash";2...
9996  1910663;6472;940807;"withdrawal";"withdrawal i...
9997  1113434;3804;940807;"credit";"collection from ...
9998  2979108;9869;940807;"withdrawal";"remittance t...
9999  1122199;3834;940807;"withdrawal";"remittance t...

In [44]:
listdf = [dfAccount, dfCard, dfClient, dfDisp, dfDistrict, dfLoan, dfTrans]

In [45]:
nRows = ' Rows: '
nCols = 'Cols: '
for df in listdf:
  nRows += str(len(df))+ ' ' 
  nCols += str(len(df.columns)) + ' '

print(nRows,'\n',nCols)

 Rows: 4500 177 5369 5369 77 328 10000
 Cols: 1 1 1 1 1 1 1

In [46]:
dfAccount.head()

  account_id;"district_id";"frequency";"date"
0            576;55;"monthly issuance";930101
1           3818;74;"monthly issuance";930101
2            704;55;"monthly issuance";930101
3           2378;16;"monthly issuance";930101
4           2632;24;"monthly issuance";930102

In [60]:
dfAccount.isnull().values.any